In [1]:
# import dependencies
import pandas as pd

In [2]:
# set the file path
file = "Resources/election_data.csv"

# read in CSV and create dataframe
data = pd.read_csv(file)
data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
# calculate the total number of votes (rows) in the dataset
total_votes = data["Voter ID"].count()
total_votes

3521001

In [4]:
# Get the value counts per each candidate
candidate_counts = data["Candidate"].value_counts()
candidate_counts.head()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [5]:
# Turn value counts into a dataframe
candidate_df = pd.DataFrame({"Votes" : candidate_counts})
candidate_df.head()

            Votes
Khan      2218231
Correy     704200
Li         492940
O'Tooley   105630

In [6]:
candidate_df["Percetage"] = round(candidate_df["Votes"]/total_votes*100)
candidate_df.head()

            Votes  Percetage
Khan      2218231       63.0
Correy     704200       20.0
Li         492940       14.0
O'Tooley   105630        3.0

In [7]:
candidate_winner = candidate_df["Percetage"].idxmax()
candidate_winner

'Khan'

In [8]:
# Print Summmary Table to Terminal
print(f'''
Election Results
-------------------------------
Total Votes: {total_votes}
-------------------------------
Khan: {candidate_df.iloc[0,1]}% ({candidate_df.iloc[0,0]})
Correy: {candidate_df.iloc[1,1]}% ({candidate_df.iloc[1,0]}) 
Li: {candidate_df.iloc[2,1]}% ({candidate_df.iloc[2,0]})
O'Tooley: {candidate_df.iloc[3,1]}% ({candidate_df.iloc[3,0]})
-------------------------------
Winner: {candidate_winner}
-------------------------------
''')

Election Results
-------------------------------
Total Votes: 3521001
-------------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
-------------------------------
Winner: Khan
-------------------------------

In [9]:
# Create string to pass to text file
text = f'''
Election Results
-------------------------------
Total Votes: {total_votes}
-------------------------------
Khan: {candidate_df.iloc[0,1]}% ({candidate_df.iloc[0,0]})
Correy: {candidate_df.iloc[1,1]}% ({candidate_df.iloc[1,0]}) 
Li: {candidate_df.iloc[2,1]}% ({candidate_df.iloc[2,0]})
O'Tooley: {candidate_df.iloc[3,1]}% ({candidate_df.iloc[3,0]})
-------------------------------
Winner: {candidate_winner}
-------------------------------
'''

print(text)

Election Results
-------------------------------
Total Votes: 3521001
-------------------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
-------------------------------
Winner: Khan
-------------------------------

In [12]:
# Check if Output directory exists, if not create it
import os
if not os.path.exists("Output"):
    os.makedirs("Output")

In [13]:
# Write text file

with open("Output/election_data.txt", "w") as text_file:
    text_file.write(text)