In [2]:
# import dependences
import pandas as pd

In [3]:
# set the file path
file = "Resources/budget_data.csv"

# read in CSV and create dataframe
data = pd.read_csv(file)
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
# Calculate total number of months in the data
total_months = data["Date"].count()
total_months

86

In [5]:
# Calculate the total profit/loss
profit = data["Profit/Losses"].sum()
profit

38382578

In [6]:
# Create new column to compute the monthly change
data["Change"] = ""
data.head()

       Date  Profit/Losses Change
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [7]:
# Caluclate profil/loss change per month
for i in range(1,len(data)):
    data.iloc[i,2] = data.iloc[i,1] - data.iloc[i-1,1]
    
# cast "Change" series to float from object
data["Change"] = pd.to_numeric(data["Change"])
data["Change"].head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Change, dtype: float64

In [8]:
# Find greatest increase in profits
increase = data["Change"].max()
increase_month_row = data.loc[data["Change"] == increase]
increase_month = increase_month_row.iloc[0,0]
increase_month

'Feb-2012'

In [9]:
# Find greatest decrease in profits
decrease = data["Change"].min()
decrease_month_row = data.loc[data["Change"] == decrease]
decrease_month = decrease_month_row.iloc[0,0]
decrease_month

'Sep-2013'

In [10]:
# Calculate average change
average_change = data["Change"].mean()
average_change = round(average_change,2)

In [11]:
# Print in terminal
print(f'''
Financial Analysis
-----------------------------
Total Months: {total_months}
Total: {profit}
Average Change: {average_change}
Greatest Increase in Profits: {increase_month} ({increase})
Greatest Decrease in Profits: {decrease_month} ({decrease})
''')

Financial Analysis
-----------------------------
Total Months: 86
Total: 38382578
Average Change: -2315.12
Greatest Increase in Profits: Feb-2012 (1926159.0)
Greatest Decrease in Profits: Sep-2013 (-2196167.0)

In [18]:
# Create string to pass to text file
text = f'''Financial Analysis
-----------------------------
Total Months: {total_months}
Total: {profit}
Average Change: {average_change}
Greatest Increase in Profits: {increase_month} ({increase})
Greatest Decrease in Profits: {decrease_month} ({decrease})'''

print(text)

Financial Analysis
-----------------------------
Total Months: 86
Total: 38382578
Average Change: -2315.12
Greatest Increase in Profits: Feb-2012 (1926159.0)
Greatest Decrease in Profits: Sep-2013 (-2196167.0)

In [22]:
# Write text file
with open("Output/budget_summary.txt", "w") as text_file:
    text_file.write(text)