In [22]:
# import dependences
import pandas as pd

In [23]:
# set the file path
file = "Resources/budget_data.csv"

# read in CSV and create dataframe
data = pd.read_csv(file)
data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [24]:
# Calculate total number of months in the data
total_months = data["Date"].count()
total_months

86

In [25]:
# Calculate the total profit/loss
profit = data["Profit/Losses"].sum()
profit

38382578

In [26]:
# Create new column to compute the monthly change
data["Change"] = ""
data.head()

       Date  Profit/Losses Change
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [58]:
# Caluclate profil/loss change per month
for i in range(1,len(data)):
    data.iloc[i,2] = data.iloc[i,1] - data.iloc[i-1,1]
    
# cast "Change" series to float from object
data["Change"] = pd.to_numeric(data["Change"])
data["Change"].head()

0         NaN
1    116771.0
2   -662642.0
3   -391430.0
4    379920.0
Name: Change, dtype: float64

In [60]:
# Find greatest increase in profits
increase = data["Change"].max()
increase

increase_month_row = data.loc[data["Change"] == increase]
increase_month = increase_month_row["Date"]
print(increase_month)

25    Feb-2012
Name: Date, dtype: object

In [40]:
# Find greatest decrease in profits
decrease = data["Change"].min()
decrease

-2196167.0